@media (max-width: 768px) {
  button.carousel__prev,
  button.carousel__next {
    display: none;
  }
}

button.carousel__prev,
button.carousel__next {
  background: #e6e6e6 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.7;
  transition: 0.3s all;
  top: 45% !important;
}
button.carousel__prev:hover,
button.carousel__next:hover {
  opacity: 0.9;
  color: black;
}
button.carousel__prev,
buttons.carousel__next,
button.carousel__prev--disabled,
button.carousel__next--disabled {
  transition: opacity 0.5s ease;
}
button.carousel__prev {
  left: -30px;
}
button.carousel__next {
  right: -30px;
}
button.carousel__prev--disabled {
  opacity: 0;
  display: none;
}
.carousel__icon {
  width: 50px;
  /* height: 40px; */
}
.carousel__item {
  /* background-color: black; */
  /* background-color: aquamarine; */
}
.carousel__track {
  padding: 0 !important;
}
.carousel__track li {
  list-style-type: none;
  padding: 1px;
  margin: 0;
  padding: 0;
  align-items: start;
}
